#waiting-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "VTCSuperMarketSaleRegular";
  letter-spacing: 2px;
}

#navbar{
  height: 50px;
  background-color: inherit;
  border-bottom: 1px solid #707070;
}

#navbar img{
  height: 30px;
}

#drop-down .dropdown-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

#waiting-room-logo {
  position: absolute;
  left: 6.875%;
  top: 10%;
  width: 23%;
}

#wrapper {
  margin-top: 100px;
  width: 80%;
  flex-grow: 1;
}

#confirm-button {
  padding: 20px;
}

#player-wrapper{
  border: 3px solid #262727;
  height: 75%;
}

#player-wrapper .player{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-name{
  font-size: 2em;
  display: block;
  font-weight: normal;
}

.status{
  font-size: 1.5em;	
  display: block;
  font-weight: normal;
}

@font-face {
  font-family: 'VTCSuperMarketSaleRegular';
  src: url('../fonts/VTCSuperMarketSaleRegular.ttf') format('truetype');
}
