#payday-modal{
    font-family: 'VTCSuperMarketSale';
}

#payday-modal-salaries{
    font-size: 1.5em;
    color: rgb(182,62,55);
}

#payday-modal-balance{
    font-size: 1.5em;
    text-align: end;
}

#payday-modal-footer{
    justify-content: center;
}

#payday-modal-cards{
    width: 100%;
    height: 45vh;
}

#payday-modal-footer button{
    margin-top: 10px;
    font-size: 1.5em;
    letter-spacing: 2px;
}

@font-face {
    font-family: 'VTCSuperMarketSale';
    src: url('../fonts/VTCSuperMarketSaleRegular.ttf') format('truetype');
}