#show-chosen-reserve{
  width: max-content;
}

#show-chosen-reserve .modal-content{
  width: 60vw;
}

#show-chosen-reserve .modal-footer{
  justify-content: center;
}

#show-chosen-reserve .modal-body .row{
  padding: 1rem;
}

#show-chosen-reserve .modal-body .col{
  padding: 5px;
}

.reserve-card{
  width: 100%;
}

.reserve-card svg{
  width: 100%;
  height: 30vh;
}