body {
    margin: 0;
    background-color: #FFF5E0;
}

.modal-header {
    background-color: #262727;
    padding-left: 2rem;
}

.modal-header > .modal-title {
    color: #fdfdfd;
    font-family: VTCSuperMarketSaleRegular, serif;
    text-transform: uppercase;
}
